html {
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h1 {
  font-size: 3rem;
}

.infos {

  text-align: center;
  font-size: 1.5rem;

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  .info_row {
    margin: 1rem auto;
  }

  label {
    margin-right: 1rem;
  }

  input {
    background:none;
    border:none;
    border-bottom: 1px solid white;
    color:white;
    font-size: inherit;

    min-width: 50%;
  }

}

.decals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.decal {

  margin: 2rem;
  cursor: pointer;

  &[data-censored="true"] {
    
    filter: invert(100%);

  }

  img, canvas {
    border: dashed 1px white;
  }

}