html {
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h1 {
  font-size: 3rem;
}

.decals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.decal {

  margin: 2rem;
  cursor: pointer;

  &[data-censored="true"] {
    
    filter: invert(100%);

  }

  img, canvas {
    border: dashed 1px white;
  }

}