html {
  background: black;
}

body {
 position: relative;
 height: 100%;
}

.fullscreen {
  position: fixed;
  top:0; left:0; bottom: 0; right: 0;
  width: 100%; height: 100%;

  &#bgCanvas {
    z-index: -1;
  }
}

.overlay {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;

  pointer-events:none;

  .question {

    font-size: 3rem;
    margin-bottom: .75rem;
    
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;

    background: black;
    padding-top: .125rem;
    padding-bottom: .125rem;

  }
}

.banderole {
}

.banderole-stage {
    animation: infinite-loop 10s linear infinite;
    white-space: pre;
    display: inline-block;
}

@keyframes infinite-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    // text is duplicated 5 times so translating the whole by 20% make it loop.
    transform: translateX(-20%);
  }
}


.shapes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  z-index: -1;


  .shape {
    position: absolute;
    left:0;
    animation: infinite-loop-shapes 40s linear infinite;
  }
}

@keyframes infinite-loop-shapes {
  0% {
    // transform: translateX(-100%);
    left: -100%;
  }
  100% {
    // transform: translateX(0);
    left: 100%;
  }
}


.decalCount {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  font-size: 2em;
  color: white;
  font-family: 'Arial';
  z-index: 99;
  display: none;
}

#saveCanvas {
  position: fixed;
  top: 0; left: 0;
  padding: 1em;
  z-index: 9999999999;
}

.drawing {
  position: fixed;
}

@keyframes pulse {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
   filter: hue-rotate(360deg);
  }
}