@font-face {
    font-family: 'Ribosoma';
    src: url('/public/assets/fonts/Ribosoma-Roman.eot');
    src: url('/public/assets/fonts/Ribosoma-Roman.eot?#iefix') format('embedded-opentype'),
         url('/public/assets/fonts/Ribosoma-Roman.woff2') format('woff2'),
         url('/public/assets/fonts/Ribosoma-Roman.woff') format('woff'),
         url('/public/assets/fonts/Ribosoma-Roman.svg#Ribosoma') format('svg');
}

$lime: rgb(126,255,0);

html {
  font-family: sans-serif;
}

html, body {
  overflow: hidden;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  
  margin:0;
  padding:0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.done {
  background: $lime;
  border-radius: .75rem;
  padding: 0rem 2.5rem;
  font-size: 3em;
  line-height: 0;
  text-align: left;
  display: block;
  height: 1em;
  opacity: 1;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);

  &__wrapper {
    position: fixed;
    bottom: 1em;
    left: 50%;
    z-index: 99;
    text-align: right;
    display: block;
    transform: translateX(-50%);
  }
}

#loader {
  text-transform: uppercase;
  pointer-events: none;
}
.invisible-dot {
  opacity: 0;
}


.flex-wrapper {
  position: absolute;
  top:0;left:0;bottom:0;right:0;
  width:100%;height:100%; 
  display: flex;
  align-items:center;
  justify-content: center;
}


// Loader

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.input-container {
  margin: auto auto 6rem auto;
}

input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.label-rounded {

  display: block;
  width: 40vw;
  height: 40vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 340px;
  max-height:340px;
  box-sizing: border-box;
  border-radius: 50%;
  background: $lime;
  text-align: center;

  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items:center;

  font-size: 1.75rem;

}

.inputfile + label {
	cursor: pointer;
}

body.drawing--enabled {
  .overlay {
    opacity: 0;
  }
}

.overlay {
  transition: opacity 0.25s linear;
  width: 100%;
  margin-top: 5rem;
  pointer-events:none;
}

//background image (cover has weird behavior when applied on the body)
.overlay:before {

  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;

  background-image: url(phone_bg.jpg);
  background-size: cover;
  background-position: center;

  z-index: -1;
}

.question {
  width: 100%;
  box-sizing: border-box;
  padding: .75rem 1rem;

  background: black;
  font-family: 'Ribosoma', sans-serif;
  font-size: 2.375rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .25rem;
}