html {
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  text-align: center;
  font-family: sans-serif;
  color: white;
}


.images {
    text-align: center;
}

img {
    border:1px solid white;
    max-width: 100%;
}